<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-head">
            <a class="navbar-brand" href="#">Todo List</a>
        </div>
    </div>
</nav>